/*************
      ALL
*************/

body {
  left: 0;
  margin: 0 0 15px 0;
  position: relative;
}

.btn-submit {
	display: block;
	margin-left: auto;
}

.btn-center {
	display: block;
	margin: 0 auto;
}

.nav-pills {
	padding: 20px;
}

.nav-pills li a {
	border: solid 1px;
}

.table {
	margin: 0;
}

.table td p {
	margin: 0;
}

@media (min-width: 768px) {
	.container-sm {
		max-width: 600px;
	}
	
	.container-md {
		max-width: 800px;
	}
	
	.container-lg {
		max-width: 1200px;
	}
	
	.trio-text-left {
		float: left;
		text-align: left;
		width: 40%;
	}
	
	.trio-text-center {
		display: inline-block;
		text-align: center;
		width: 20%;
	}
	
	.trio-text-right {
		float: right;
		text-align: right;
		width: 40%;
	}
}


@media (min-width: 350px) {
	.alignleft {
		float: left;
		text-align: left;
	}
	
	.alignright {
		float: right;
		text-align: right;
	}
}

@media (max-width: 500px) {
	.column-hide {
		display: none;
	}	
}

@media(min-width: 501px) {
	.column-show {
		display: none;
	}
}

.response-banner {
	color: white;
	text-align: center;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.error {
	color: red;
	float: left;
	margin-left: 13px;
	margin-right: 13px;
}

.form-group div {
	padding-left: 0;
}

/* ARCHIVE */

#archive-form {
	padding: 20px;
	margin: 0 auto;
	max-width: 350px;
}

/* BUTTON-PANEL */

.button-panel {
	margin: 0;
	border: none;
}

.button-panel .panel-body {
	padding: 0;
}

.button-panel ul {
	margin: 0;
}

.button-panel li {
	border-radius: 0;
	padding: 0;
}

.button-panel button {
	border: none;
	border-radius: 0;
	padding: 10px;
	width: 100%;
}

.button-panel a {
	border: none;
	border-radius: 0;
	width: 100%;
	font-weight: 500;
	color: #555;
}

.button-panel h4 {
	color: #555;
}

.button-panel .btn-default:focus {
	outline: none;
}

/* PANEL */

.panel {
	margin-bottom: 0;
}

.panel-body {
	padding: 0;
}


/* SIDE-MENU */

@media (min-width: 768px) {
	#side-menu {
		max-width: 200px;
	}
	
	.side-menu-item {
		font-size: 18px;
		padding: 17px 0 17px 30px;
		text-align: left;
	}

	.side-menu-sub-item {
		font-size: 16px;
		padding: 10px;
	}
	
	#side-menu .panel-heading {
		display: none;
	}
	
	#side-menu .panel-collapse {
		display: block;
	}
}

@media (max-width: 767px) {
	
	.side-menu-item {
		font-size: 18px;
	}

	.side-menu-sub-item {
		font-size: 14px;
	}
}

#side-menu .panel-heading {
	border: 1px solid;
	border-color: #ccc;
}

/* CONTAINERS */
.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.container {
	padding: 15px 15px 0 15px;
}

/* FORMS */

.form-group {
	margin-bottom: 10px;
}

.form-group div {
	margin-bottom: 5px;
}

.form-horizontal .form-group {
	margin-left: 0;
}

/* NAVBAR */
#nav {
	padding: 10px;
  margin-bottom: 0;
  background-color: #FFF;
  border-left: none;
  border-right: none;
}

#nav .navbar-header {
  margin-left: 0;
}

#nav .navbar-header img {
  height: 50px;
  margin-right: 10px;
}

#navbar {
  border-top: 0;
}

#navbar ul {
	margin: 0;
}

#navbar li {
  padding: 5px;
}

#navbar .dropdown-menu li {
	padding: 0;
}

#navbar li a {
  padding: 9px;
}

#navbar li a:focus,
#navbar li a:hover {
  border-color: #ccc;
}

#navbar ul {
  margin-top: 0;
  margin-bottom: 0;
}