/*************
      ALL
*************/

body {
  left: 0;
  margin: 0;
  position: relative;
}

.btn-submit {
	display: block;
	margin-left: auto;
}

@media (min-width: 300px) {
	.alignleft {
		float: left;
		text-align: left;
	}
	
	.alignright {
		float: right;
		text-align: right;
	}
}

/* BUTTON-PANEL */

.button-panel {
	margin: 0;
	border: none;
}

.button-panel .panel-body {
	padding: 0;
}

.button-panel ul {
	margin: 0;
}

.button-panel li {
	border-radius: 0;
	padding: 0;
}

.button-panel button {
	border: none;
	border-radius: 0;
	padding: 10px;
	width: 100%;
}

.button-panel a {
	border: none;
	border-radius: 0;
	width: 100%;
	font-weight: 500;
	color: #555;
}

.button-panel h4 {
	color: #555;
}

.button-panel .btn-default:focus {
	outline: none;
}

/* SIDE-MENU */
@media (min-width: 768px) {
	#side-menu {
		max-width: 200px;
	}
	
	.side-menu-item {
		font-size: 18px;
		padding: 17px 0 17px 30px;
		text-align: left;
	}

	.side-menu-sub-item {
		font-size: 16px;
		padding: 10px;
	}
}

/* CONTAINERS */
.container-fluid {
	padding-left: 10px;
	padding-right: 10px;
}

.container {
	padding: 5px;
}

/* NAVBAR */
#nav {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-color: #FFF;
}

#nav h4 {
	margin: 0;
	padding: 10px;
	color: #777;
}

#nav .navbar-header {
  margin-left: 0;
}

#nav .navbar-header img {
  height: 50px;
  margin-right: 10px;
}

#navbar {
  border-top: 0;
}

#navbar ul {
	margin: 0;
}

#navbar li {
  padding: 5px;
}

#navbar li a {
  padding: 9px;
}

#navbar li a:focus,
#navbar li a:hover {
  border-color: #ccc;
}

#navbar ul {
  margin-top: 0;
  margin-bottom: 0;
}